:root {
  --blanco: #ffffff;
  --oscuro: #212121;
  --primario: #ffc107;
  --secundario: #0097a7;
  --gris: #757575;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 16px;
  font-family: "Krub", sans-serif;
}

.titulo {
  text-align: center;
  font-size: 3.8rem;
  font-weight: 700;
}

.titulo span {
  font-size: 2rem;
}

.contenedor {
  width: 65em;
  margin: 0 auto;
}

.nav-bg {
  background-color: var(--secundario);
}

.navegacion-principal {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

.navegacion-principal a {
   color: var(--blanco);
   text-decoration: none;

}











